<h4>
	Post details:
</h4>
<p>
		<%= @row['content'] %><br/>
		<a href="/people/<%= @row['author'] %>"><%= @row['author'] %></a><br/>
		<%= @row['created_date'] %><br/> 
		<hr/>
</p>
<br/>
<p>
<div style="margin:0 10% 0;">
	<h3>
	<label>
		Comments:
	</label>
	</h3>

	<% @comments.each do |com| %>
		<%= com["content"] %><br/>
		<a href="/people/<%= com['author'] %>" style="font-size: 75%; color: #888"><%= com["author"] %></a><br/>
		<span style="font-size: 75%; color: #999"><%= com["created_date"] %></span><br/>
		<hr/>
	<% end %>
</div>
</p>
<h4>
	Add comment:
</h4>
<p>
	<form action="/details/<%= @row['id'] %>" method="POST">
		<input class="form-control" name="author" type="text" placeholder="Введите имя автора" style="width:80%" >
		<br/>
		<textarea name='text' class="form-control" rows="6" placeholder="Введите текст комментария..." style="width:80%"></textarea>
		<br />
	  <button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>