<h2>
	Lates posts:
</h2>
<p>
	<% @results.each do |post| %>
		<%= post['content'] %><br/>
		<a href="/people/<%= post['author'] %>"><%= post['author'] %></a><br/>
		<%= post['created_date'] %><br/> 
		<a href="/details/<%= post['id'] %>">Comments</a><br/> <hr/>
		
	<% end %>
</p>